## Decision Trees (for Classification)
#### deadline 3.7

In a decision tree the data is split at each node according to a decision rule. This corresponds to nested _if-then-else_-rules. In the _if_-part of such a rule are decison is made based on a feature of the data record. 

We will use the scikit learn implementation. For this implementation the features must be binary or have (at least) ordinal characteristic. If a feature is e.g. nominal with many values, it must be converted to a set of binary (one-hot-coded) features.


The splitting rules in the scikit learn implementation are binary and are based on a threshold, e.g.
  - _if $x_6 <= 2.14$ then_ left subbranch, _else_ right subbranch.         
  - binary features must be coded as 0/1, so the rule becomes: if $x_2 <= 0.5$ _then_ left subbranch, _else_ right subbranch. 


<!--The structure of the tree will be determined by data (see below) and a training procedure.-->

In the leafs of the tree the (class) predictions are made. There are two possibilities for such an inference: 
   - hard assignment: Predict for the data records which end up on a leaf by the majority class of the training data that end up on that leaf.          
   - soft assignment: Assign probabilities according to the distribution of the classes in respect to the training data which end up on that leaf.

As an example of a decision tree we will learn the following tree from the titanic data set: 
<img src="titanicOrig.png" width="1000px"/>

A full explanation of the tree will be given later. Here just look at the desion rules (first line of the inner nodes) and at the last line of the leafs. In each leaf you see a array with counts of the different targets (train data): [number_died number_survivors] .

### Learning 

Finding a tree that splits the traing data optimal is np-hard. Therefore often a _greedy_-strategy is used:

To build up a decision tree the algorithm starts at the root of the tree. The feature and the threshold 
that splits the training data best (with respect to the classes) are choosen. In an iterative way the whole tree is build up by such splitting rules. 

There are different criteria for measuring the "separation (split) quality". The most important ones are:

- Gini Impurity 
- Information Gain 

In this tutorial we use the information gain.

#### Information Gain as splitting criterion

The entropy with respect to the target class variable $y$ of a training data set $\mathcal D$ is defined as:

$$
 H(y, \mathcal D) = - \sum_{y \in \mathcal Y} p(y|\mathcal D) \log_2 p(y|\mathcal D)
$$
with the domain of the target values $\mathcal Y = \{t_1, t_2,... \}$.


The probabilities are estimated by 
$$
  p(y=t_i, \mathcal D) = |\mathcal D^{(y=t_i)}| /|\mathcal D| 
$$    


with the number of training data $|\mathcal D|$  and the number of training data $|\mathcal D^{(y=t_i)}|$ with target label $t_i$: 


On a node a (binary) split on a feature $x_k$ is made by the split rule $x_k \leq v$. 
As result there are two data sets $\mathcal D_0$ and $\mathcal D_1$ for the left resp. the right branch.

The feature $x_k$ and the split value $v$ are choosen that they maximize the 'reduction of the entropy' measured by the information gain $I$:
$$
  I(y; x_k) = H(y, \mathcal D) - H(y|x_k) = H(y, \mathcal D) - \sum_{j=0}^1 p_jH(y, \mathcal D_j) =
  H(y, \mathcal D) + \sum_{j=0}^1  \sum_{y \in \mathcal Y} \frac{|\mathcal D_j|}{|\mathcal D|} p(y|\mathcal D_j) \log_2 p(y|\mathcal D_j)
$$
Note that $p_{j=0}$  is the estimated probability that a random data record of $\mathcal D$ has feature value $x_k \leq v$ which can be estimated by ${|\mathcal D_0|}/{|\mathcal D|}$ (analog for $j=1$).

$p(y=t_i|\mathcal D_0)$ can also be estimated by the fraction of the counts ${|\mathcal D_0^{(y=t_i)}|}/{|\mathcal D_0|}$. 
So the information gain can be computed just with counts:


$$
  I(y; x_k) = 
   \sum_{y \in \mathcal Y} \frac{|\mathcal D^{(y=t_i)}|}{|\mathcal D|}  \log_2 \frac{|\mathcal D^{(y=t_i)}|}{|\mathcal D|} + \sum_{j=0}^1  \sum_{y \in \mathcal Y} \frac{|\mathcal D_j^{(y=t_i)}|}{|\mathcal D|}  \log_2 \frac{|\mathcal D_j^{(y=t_i)}|}{|\mathcal D_j|}
$$


<!--$|\mathcal D_0|$ respectivly $|\mathcal D_1|$ is the number of elements in the splitted data sets.-->

#### Overfitting

Deep decision trees generalize often poorly. The following remedies reduce overfitting: 

- Limitation of the maximal depth of the tree. 
- Pruning with an validation set either during training (pre-pruning) or after training (post-pruning).
- Dimensionality reduction (reducing the number of features before training)


Also often combining decision trees to an ensemble (decision forests) is used against overfitting.

### Example: Survival of the Titanic 


First you have read in the titanic data with pandas:

In [25]:
#IMPORT

import numpy as np
import scipy as sc
import pandas as pd; print("pandas version: ", pd.__version__)
#a newer package on top of NumPy; DataFrames are arrays wih labels instead of indices

import sklearn as sk; print("scikit version: ", sk.__version__)
from sklearn.preprocessing import Imputer
from sklearn import tree
from sklearn.externals.six import StringIO

from os import system

pandas version:  0.22.0
scikit version:  0.19.1

`train_df` is a [_pandas_](http://pandas.pydata.org/) [data frame](http://pandas.pydata.org/pandas-docs/stable/dsintro.html). 
Let's view the data.

In [26]:
train_df = pd.read_csv("titanic-train.csv")
train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [27]:
temp = train_df['Age'][0:1]
temp

0    22.0
Name: Age, dtype: float64

Scikit's learn decision trees can handle only numeric data. So we must convert the nominal `Sex` feature.

In [28]:
df1 = train_df
df1["Sex"] = train_df['Sex'].map({'female': 1, 'male': 0})
df1.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

`Survived` is the target, that we want to predict from the values of the other columns.   
But not all of the other columns are helpful for classification. So we choose a feature set by hand and convert the features into a numpy array for scikit learn.

In [29]:
# y = targets = labels # =  TODO as Exercise
#columns = ["Fare", "Pclass", "Sex", "Age", "SibSp"]
# features # = TODO as Exercise

df2 = df1.drop(['PassengerId', 'Survived', 'Name', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis=1)
df2.head(5)

   Pclass  Sex   Age  SibSp     Fare
0       3    0  22.0      1   7.2500
1       1    1  38.0      1  71.2833
2       3    1  26.0      0   7.9250
3       1    1  35.0      1  53.1000
4       3    0  35.0      0   8.0500

In [30]:
df2 = pd.DataFrame({'Fare': df1['Fare'], 'Pclass': df1['Pclass'], 'Sex': df1['Sex'], 'Age': df1['Age'], 'SibSp': df1['SibSp']})
df2.head(5)

    Age     Fare  Pclass  Sex  SibSp
0  22.0   7.2500       3    0      1
1  38.0  71.2833       1    1      1
2  26.0   7.9250       3    1      0
3  35.0  53.1000       1    1      1
4  35.0   8.0500       3    0      0

There are missing values (`nan`). We use the scikit learn `Imputer` to replace them by the mean of the columns.

In [31]:
ageTest = df2['Age'][16:20]
ageTest
# compose a new set with 2 values and 2 NaNs

16     2.0
17     NaN
18    31.0
19     NaN
Name: Age, dtype: float64

In [32]:
# df2AgeTestMean = np.mean(df2AgeTest)
ageTestMean = ageTest.mean()
ageTestMean
# calc mean ignores NaNs

16.5

In [33]:
ageMean = df2['Age'].mean()
ageMeanRounded = ageMean.round(1)
print('ageMean = {0}\t ageMeanRounded = {1} \n both have type: {2}'.format(ageMean, ageMeanRounded, type(ageMean)))

ageMean = 29.69911764705882	 ageMeanRounded = 29.7
 both have type: <class 'numpy.float64'>

In [34]:
df3 = df2.fillna(ageMeanRounded)
df3['Age'][16:20]

16     2.0
17    29.7
18    31.0
19    29.7
Name: Age, dtype: float64

Now we are ready to learn a decision tree by the criterion 'Information Gain' and we restrict the depth of the tree to 3.
We use the [scikit learn decison tree module](http://scikit-learn.org/stable/modules/tree.html).

We use a splitting criterion the 'Information Gain'!

In [35]:
clf = tree.DecisionTreeClassifier(criterion="entropy", max_depth=3)
clf.fit(df3, df1['Survived'])
# does the column order play a role?

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

`clf` is an instance of a trained decision tree classifier.

The decision tree can be visualized. For this we must write an graphviz dot-File

In [36]:
# with open("titanic.dot", 'w') as f:
#     f = tree.export_graphviz(clf, out_file=f, feature_names=df3.columns)

The dot file can be converted with the graphiz `dot`- renderer to an image.

    dot -Tpng titanic.dot -o titanic.png

Here is the graph:

In [37]:
# .dot to .png
# http://webgraphviz.com
# my tree

<img src="titanic.png" width="1000px"/>

original tree
<img src="titanicOrig.png" width="1000px"/>

According to the decision tree the main criterion (root node) for survival is the sex of the passenger. In the left subtree are the male passengers (sex = 0), in the right subtree the female (sex=1). 

In the leafs the class information is given by a `value` array. Here the second value is the number of survivers in the leafs.

For example the leftmost leaf represents passengers that are male (sex=0) with fare<=26.2687 and age<=13.5. 13 of such boys survived and 2 of them died.

The entropy $- \sum p_i \log_2 (p_i)$ is displayed also at each node (splitting criterion).

### Exercises: Splitting criterion entropy / information gain

#### Exercise 1: 

Compute the root node entropy (with numpy).
$$
Entropy \space H = \sum_{i}[p_{i} * I_{i}] = - \sum_{i}[p_{i} * log_{2} p_{i}]
$$

In [38]:
def entropy2(arr):
    ans = 0
    
    for i in arr:
        ans += (i * np.log2(i))
        
    return -np.sum(ans)

print(sc.stats.entropy(np.array([577/891, 314/891]))) #???
print(entropy2(np.array([577/891, 314/891])))

0.6489276088957644
0.9362046432498521

#### Exercise 2

Compute the information gain of the first split node (root node). Use the entropy values and the number of data records (samples)
from the decision tree image. 

$$
I(Y, X) = H(Y) - H(Y|X)
\\
H(Y|X) = - \sum_{x \in X} * \sum_{y \in Y}[p(x) * p(y|x) * log(p(y|x)]
$$

In [39]:
# по отношению к детям рута

In [40]:
entrP = entropy2(np.array([577/891, 314/891]))
entrP

0.9362046432498521

In [41]:
# https://homes.cs.washington.edu/~shapiro/EE596/notes/InfoGain.pdf
# entropyRoot - average children
entrL = entropy2(np.array([415/577, 162/577]))
entrL

0.856487779261534

In [42]:
entrR = entropy2(np.array([170/314, 144/314]))
entrR

0.9950485853530848

In [43]:
entrC = 577/891 * entrL + 314/891 * entrR
entrC

0.9053184112623724

In [44]:
# ответ 1
entrP - entrC

0.03088623198747964

In [45]:
######
# V2 # по отношению к выживаемости
######

#class = sex
#feature = survived?

#who (not) survived
mGroup = train_df[train_df['Sex'] == 0].groupby('Survived').size()
fGroup = train_df[train_df['Sex'] == 1].groupby('Survived').size()
total = train_df.shape[0]

mTotal = train_df[train_df['Sex'] == 0].shape[0]
fTotal = train_df[train_df['Sex'] == 1].shape[0]

mH = entropy2(np.array([mGroup[0] / mTotal, mGroup[1] / mTotal]))
fH = entropy2(np.array([fGroup[0] / fTotal, fGroup[1] / fTotal]))

childrenH = (mTotal / total) * mH + (fTotal / total) * fH
infoGain = 1 - childrenH

print('information gain of the first split =', infoGain)

information gain of the first split = 0.2569522047849673

#### Exercise 3
Compute the information gain of the following split table:

|  | class 0  | class 1  |  
|---|---|---|
| feature <= v| 2  | 13  |      
| feature > v | 359  |  41 |   

The numbers are the corresponding data records, e.g. there are 13 data records with target class 1 and feature <= v. 

Write a python function that computes the information gain.The data is given by a python array:

In [46]:
data = np.array([[2., 13.],[359., 41.]])
data.sum()

415.0

In [47]:
def iGain3(ar):
    size0 = ar[0, 0] + ar[1, 0]
    size1 = ar[0, 1] + ar[1, 1]
    total = ar.sum()    
#     print(size0); print(size1); print(total)
    
    c0H = entropy2(np.array([ar[0, 0] / size0, ar[0, 0] / size0]))
    c1H = entropy2(np.array([ar[0, 1] / size1, ar[1, 1] / size1]))    
    childrenH = (size0 / total) * c0H + (size1 / total) * c1H
#     print(c0H); print(c1H); print(childrenH)
    
    return 1 - childrenH

iGain3(data)

0.8241397669898787

### Prediction

To make predictions with scikit learn, we must convert the data in
the same way as we did it with the training data. Then we could use the method:    

    clf.predict(testdata)
    
Note: The depth of the decision tree is a hyperparameter. So the depth should be determined with the help of a 
validation set or by cross validation.

### Literature

- [Cri] [A. Criminisi, J. Shotton, and E. Konukoglu, Decision Forests for Classification, Regression, Density Estimation, Manifold Learning and Semi- Supervised Learning, no. MSR-TR-2011-114, 28 October 2011.](http://research.microsoft.com/pubs/155552/decisionForests_MSR_TR_2011_114.pdf)