# Decision trees for classification task with information gain as a splitting-criterion

#### Information Gain as splitting criterion

The entropy with respect to the target class variable $y$ of a training data set $\mathcal D$ is defined as:

$$
 H(y, \mathcal D) = - \sum_{y \in \mathcal Y} p(y|\mathcal D) \log_2 p(y|\mathcal D)
$$
with the domain of the target values $\mathcal Y = \{t_1, t_2,... \}$.


The probabilities are estimated by 
$$
  p(y=t_i, \mathcal D) = |\mathcal D^{(y=t_i)}| /|\mathcal D| 
$$    


with the number of training data $|\mathcal D|$  and the number of training data $|\mathcal D^{(y=t_i)}|$ with target label $t_i$: 


On a node a (binary) split on a feature $x_k$ is made by the split rule $x_k \leq v$. 
As result there are two data sets $\mathcal D_0$ and $\mathcal D_1$ for the left resp. the right branch.

The feature $x_k$ and the split value $v$ are choosen that they maximize the 'reduction of the entropy' measured by the information gain $I$:
$$
  I(y; x_k) = H(y, \mathcal D) - H(y|x_k) = H(y, \mathcal D) - \sum_{j=0}^1 p_jH(y, \mathcal D_j) =
  H(y, \mathcal D) + \sum_{j=0}^1  \sum_{y \in \mathcal Y} \frac{|\mathcal D_j|}{|\mathcal D|} p(y|\mathcal D_j) \log_2 p(y|\mathcal D_j)
$$
Note that $p_{j=0}$  is the estimated probability that a random data record of $\mathcal D$ has feature value $x_k \leq v$ which can be estimated by ${|\mathcal D_0|}/{|\mathcal D|}$ (analog for $j=1$).

$p(y=t_i|\mathcal D_0)$ can also be estimated by the fraction of the counts ${|\mathcal D_0^{(y=t_i)}|}/{|\mathcal D_0|}$. 
So the information gain can be computed just with counts:


$$
  I(y; x_k) = 
   \sum_{y \in \mathcal Y} \frac{|\mathcal D^{(y=t_i)}|}{|\mathcal D|}  \log_2 \frac{|\mathcal D^{(y=t_i)}|}{|\mathcal D|} + \sum_{j=0}^1  \sum_{y \in \mathcal Y} \frac{|\mathcal D_j^{(y=t_i)}|}{|\mathcal D|}  \log_2 \frac{|\mathcal D_j^{(y=t_i)}|}{|\mathcal D_j|}
$$


<!--$|\mathcal D_0|$ respectivly $|\mathcal D_1|$ is the number of elements in the splitted data sets.-->

#### Overfitting

Deep decision trees generalize often poorly. The following remedies reduce overfitting: 

- Limitation of the maximal depth of the tree. 
- Pruning with an validation set either during training (pre-pruning) or after training (post-pruning).
- Dimensionality reduction (reducing the number of features before training)


Also often combining decision trees to an ensemble (decision forests) is used against overfitting.

### Example: Survival of the Titanic 


First you have read in the titanic data with pandas:

In [ ]:
import numpy as np
import scipy as sc
import pandas as pd; print("pandas version: ", pd.__version__)

import sklearn as sk; print("scikit version: ", sk.__version__)
from sklearn.preprocessing import Imputer
from sklearn import tree
from sklearn.externals.six import StringIO

from os import system

import pandas as pd

from collections import Counter
from itertools import chain

`train_df` is a [_pandas_](http://pandas.pydata.org/) [data frame](http://pandas.pydata.org/pandas-docs/stable/dsintro.html). 
Let's view the data.

In [2]:
train_df = pd.read_csv("data_decision_tree/titanic-train.csv")
train_df.head(7)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

Scikit's learn decision trees can handle only numeric data. Please convert the nominal `Sex` feature.

In [3]:
train_df["Sex"] = train_df['Sex'].map({'female': 1, 'male': 0})
train_df.head(7)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",0,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",0,54.0,0,0,17463,51.8625,E46,S

`Survived` is the target, that we want to predict from the values of the other columns.   
But not all of the other columns are helpful for classification. So we choose a feature set by hand and convert the features into a numpy array for scikit learn.

In [4]:
#column stack - Take a sequence of 1-D arrays and stack them as columns to make a single 2-D array. 

y = targets = labels  =  train_df["Survived"]
columns = ["Fare", "Pclass", "Sex", "Age", "SibSp"]
features = np.column_stack([train_df["Fare"], train_df["Pclass"], train_df["Sex"],train_df["Age"],train_df["SibSp"]])
features

array([[ 7.25  ,  3.    ,  0.    , 22.    ,  1.    ],
       [71.2833,  1.    ,  1.    , 38.    ,  1.    ],
       [ 7.925 ,  3.    ,  1.    , 26.    ,  0.    ],
       ...,
       [23.45  ,  3.    ,  1.    ,     nan,  1.    ],
       [30.    ,  1.    ,  0.    , 26.    ,  0.    ],
       [ 7.75  ,  3.    ,  0.    , 32.    ,  0.    ]])

There are missing values (`nan`). Please use the scikit learn `Imputer` to replace them by the mean of the columns.

In [ ]:
from sklearn.preprocessing import Imputer

imputer = Imputer(missing_values='NaN', strategy = 'mean', axis=0)
imputer = imputer.fit(features)
features = imputer.transform(features)
features

Now we are ready to learn a decision tree by the criterion 'Information Gain' and we restrict the depth of the tree to 3.
We use the [scikit learn decison tree module](http://scikit-learn.org/stable/modules/tree.html).

In [16]:
from sklearn import tree

clf = tree.DecisionTreeClassifier(criterion="entropy", max_depth=3)
clf = clf.fit(features, y)

`clf` is an instance of a trained decision tree classifier.

The decision tree can be visualized. For this we must write an graphviz dot-File

In [ ]:
from sklearn.externals.six import StringIO

with open("titanic.dot", 'w') as f:
    f = tree.export_graphviz(clf, out_file=f, feature_names=columns)

The dot file can be converted with the graphiz `dot`- renderer to an image.

    dot -Tpng titanic.dot -o titanic.png

Here is the graph:

<img src="images/titanic.png" width="1000px"/>

According to the decision tree the main criterion (root node) for survival is the sex of the passenger. In the left subtree are the male passengers (sex = 0), in the right subtree the female (sex=1). 

In the leafs the class information is given by a `value` array. Here the second value is the number of survivers in the leafs.

For example the leftmost leaf represents passengers that are male (sex=0) with fare<=26.2687 and age<=13.5. 13 of such boys survived and 2 of them died.

The entropy $- \sum p_i \log_2 (p_i)$ is displayed also at each node (splitting criterion).

### Exercises: Splitting criterion entropy / information gain

#### Exercise 1: 

Compute the root node entropy (with numpy).

$$
Entropy \space H = \sum_{i}[p_{i} * I_{i}] = - \sum_{i}[p_{i} * log_{2} p_{i}]
$$

In [17]:
def entropy(labels):
    counter = Counter(labels)
    i = np.array(list(chain(counter.values())))
    p = i / len(labels)
    return - (p * np.log2(p)).sum()

entropy(y)

0.9607079018756469

#### Exercise 2

Compute the information gain of the first split node (root node). Use the entropy values and the number of data records (samples)
from the decision tree image.

In [18]:
records = y.size
records_left = train_df[train_df['Sex'] == 0].shape[0]
records_right = train_df[train_df['Sex'] == 1].shape[0]
entropy_first_node = entropy(y)
entropy_left = 0.699
entropy_right = 0.824
entropy_kids = (records_left / records) * entropy_left + (records_right / records) * entropy_right
info_gain = entropy_first_node - entropy_kids
info_gain

0.21765627449068614

#### Exercise 3
Compute the information gain of the following split table:

|  | class 0  | class 1  |  
|---|---|---|
| feature <= v| 2  | 13  |      
| feature > v | 359  |  41 |   

The numbers are the corresponding data records, e.g. there are 13 data records with target class 1 and feature <= v. 

Write a python function that computes the information gain.The data is given by a python array:

In [19]:
data = np.array([[2.,13.],[359., 41.]])

def info_gain(data):
    records = data.sum()
    
    records_left = data[0].sum()
    p_left = data[0] / records
    entropy_left = - (p_left * np.log2(p_left)).sum()
    print(entropy_left)
    
    records_right = data[1].sum()
    p_right = data[1] / records
    entropy_right = - (p_right * np.log2(p_right)).sum()
    
    entropy_kids = (records_left / records) * entropy_left + (records_right / records) * entropy_right
    
    p_initial = np.array([data[:,0].sum(),data[:,1].sum()]) / records
    entropy_initial = - (p_initial * np.log2(p_initial)).sum()
    
    info_gain = entropy_initial - entropy_kids
    return info_gain
    
    
info_gain(data)

0.1936115579703135

0.05840805931769988